.width_1per {
    width: 1%;
}
  
.width_2per {
width: 2%;
}

.width_3per {
width: 3%;
}

.width_4per {
width: 4%;
}

.width_5per {
width: 5%;
}

.width_6per {
width: 6%;
}

.width_7per {
width: 7%;
}

.width_8per {
width: 8%;
}

.width_9per {
width: 9%;
}

.width_10per {
width: 10%;
}

.width_11per {
width: 11%;
}

.width_12per {
width: 12%;
}

.width_13per {
width: 13%;
}

.width_14per {
width: 14%;
}

.width_15per {
width: 15%;
}

.width_16per {
width: 16%;
}

.width_17per {
width: 17%;
}

.width_18per {
width: 18%;
}

.width_19per {
width: 19%;
}

.width_20per {
width: 20%;
}

.width_21per {
width: 21%;
}

.width_22per {
width: 22%;
}

.width_23per {
width: 23%;
}

.width_24per {
width: 24%;
}

.width_25per {
width: 25%;
}

.width_26per {
width: 26%;
}

.width_27per {
width: 27%;
}

.width_28per {
width: 28%;
}

.width_29per {
width: 29%;
}

.width_30per {
width: 30%;
}

.width_31per {
width: 31%;
}

.width_32per {
width: 32%;
}

.width_33per {
width: 33%;
}

.width_34per {
width: 34%;
}

.width_35per {
width: 35%;
}

.width_36per {
width: 36%;
}

.width_37per {
width: 37%;
}

.width_38per {
width: 38%;
}

.width_39per {
width: 39%;
}

.width_40per {
width: 40%;
}

.width_41per {
width: 41%;
}

.width_42per {
width: 42%;
}

.width_43per {
width: 43%;
}

.width_44per {
width: 44%;
}

.width_45per {
width: 45%;
}

.width_46per {
width: 46%;
}

.width_47per {
width: 47%;
}

.width_48per {
width: 48%;
}

.width_49per {
width: 49%;
}

.width_50per {
width: 50%;
}

.width_51per {
width: 51%;
}

.width_52per {
width: 52%;
}

.width_53per {
width: 53%;
}

.width_54per {
width: 54%;
}

.width_55per {
width: 55%;
}

.width_56per {
width: 56%;
}

.width_57per {
width: 57%;
}

.width_58per {
width: 58%;
}

.width_59per {
width: 59%;
}

.width_60per {
width: 60%;
}

.width_61per {
width: 61%;
}

.width_62per {
width: 62%;
}

.width_63per {
width: 63%;
}

.width_64per {
width: 64%;
}

.width_65per {
width: 65%;
}

.width_66per {
width: 66%;
}

.width_67per {
width: 67%;
}

.width_68per {
width: 68%;
}

.width_69per {
width: 69%;
}

.width_70per {
width: 70%;
}

.width_71per {
width: 71%;
}

.width_72per {
width: 72%;
}

.width_73per {
width: 73%;
}

.width_74per {
width: 74%;
}

.width_75per {
width: 75%;
}

.width_76per {
width: 76%;
}

.width_77per {
width: 77%;
}

.width_78per {
width: 78%;
}

.width_79per {
width: 79%;
}

.width_80per {
width: 80%;
}

.width_81per {
width: 81%;
}

.width_82per {
width: 82%;
}

.width_83per {
width: 83%;
}

.width_84per {
width: 84%;
}

.width_85per {
width: 85%;
}

.width_86per {
width: 86%;
}

.width_87per {
width: 87%;
}

.width_88per {
width: 88%;
}

.width_89per {
width: 89%;
}

.width_90per {
width: 90%;
}

.width_91per {
width: 91%;
}

.width_92per {
width: 92%;
}

.width_93per {
width: 93%;
}

.width_94per {
width: 94%;
}

.width_95per {
width: 95%;
}

.width_96per {
width: 96%;
}

.width_97per {
width: 97%;
}

.width_98per {
width: 98%;
}

.width_99per {
width: 99%;
}

.width_100per {
width: 100%;
}