.width_1per {
    width: 1% !important;
}
  
.width_2per {
width: 2% !important;
}

.width_3per {
width: 3% !important;
}

.width_4per {
width: 4% !important;
}

.width_5per {
width: 5% !important;
}

.width_6per {
width: 6% !important;
}

.width_7per {
width: 7% !important;
}

.width_8per {
width: 8% !important;
}

.width_9per {
width: 9% !important;
}

.width_10per {
width: 10% !important;
}

.width_11per {
width: 11% !important;
}

.width_12per {
width: 12% !important;
}

.width_13per {
width: 13% !important;
}

.width_14per {
width: 14% !important;
}

.width_15per {
width: 15% !important;
}

.width_16per {
width: 16% !important;
}

.width_17per {
width: 17% !important;
}

.width_18per {
width: 18% !important;
}

.width_19per {
width: 19% !important;
}

.width_20per {
width: 20% !important;
}

.width_21per {
width: 21% !important;
}

.width_22per {
width: 22% !important;
}

.width_23per {
width: 23% !important;
}

.width_24per {
width: 24% !important;
}

.width_25per {
width: 25% !important;
}

.width_26per {
width: 26% !important;
}

.width_27per {
width: 27% !important;
}

.width_28per {
width: 28% !important;
}

.width_29per {
width: 29% !important;
}

.width_30per {
width: 30% !important;
}

.width_31per {
width: 31% !important;
}

.width_32per {
width: 32% !important;
}

.width_33per {
width: 33% !important;
}

.width_34per {
width: 34% !important;
}

.width_35per {
width: 35% !important;
}

.width_36per {
width: 36% !important;
}

.width_37per {
width: 37% !important;
}

.width_38per {
width: 38% !important;
}

.width_39per {
width: 39% !important;
}

.width_40per {
width: 40% !important;
}

.width_41per {
width: 41% !important;
}

.width_42per {
width: 42% !important;
}

.width_43per {
width: 43% !important;
}

.width_44per {
width: 44% !important;
}

.width_45per {
width: 45% !important;
}

.width_46per {
width: 46% !important;
}

.width_47per {
width: 47% !important;
}

.width_48per {
width: 48% !important;
}

.width_49per {
width: 49% !important;
}

.width_50per {
width: 50% !important;
}

.width_51per {
width: 51% !important;
}

.width_52per {
width: 52% !important;
}

.width_53per {
width: 53% !important;
}

.width_54per {
width: 54% !important;
}

.width_55per {
width: 55% !important;
}

.width_56per {
width: 56% !important;
}

.width_57per {
width: 57% !important;
}

.width_58per {
width: 58% !important;
}

.width_59per {
width: 59% !important;
}

.width_60per {
width: 60% !important;
}

.width_61per {
width: 61% !important;
}

.width_62per {
width: 62% !important;
}

.width_63per {
width: 63% !important;
}

.width_64per {
width: 64% !important;
}

.width_65per {
width: 65% !important;
}

.width_66per {
width: 66% !important;
}

.width_67per {
width: 67% !important;
}

.width_68per {
width: 68% !important;
}

.width_69per {
width: 69% !important;
}

.width_70per {
width: 70% !important;
}

.width_71per {
width: 71% !important;
}

.width_72per {
width: 72% !important;
}

.width_73per {
width: 73% !important;
}

.width_74per {
width: 74% !important;
}

.width_75per {
width: 75% !important;
}

.width_76per {
width: 76% !important;
}

.width_77per {
width: 77% !important;
}

.width_78per {
width: 78% !important;
}

.width_79per {
width: 79% !important;
}

.width_80per {
width: 80% !important;
}

.width_81per {
width: 81% !important;
}

.width_82per {
width: 82% !important;
}

.width_83per {
width: 83% !important;
}

.width_84per {
width: 84% !important;
}

.width_85per {
width: 85% !important;
}

.width_86per {
width: 86% !important;
}

.width_87per {
width: 87% !important;
}

.width_88per {
width: 88% !important;
}

.width_89per {
width: 89% !important;
}

.width_90per {
width: 90% !important;
}

.width_91per {
width: 91% !important;
}

.width_92per {
width: 92% !important;
}

.width_93per {
width: 93% !important;
}

.width_94per {
width: 94% !important;
}

.width_95per {
width: 95% !important;
}

.width_96per {
width: 96% !important;
}

.width_97per {
width: 97% !important;
}

.width_98per {
width: 98% !important;
}

.width_99per {
width: 99% !important;
}

.width_100per {
width: 100% !important;
}