.payment_container {
   max-width: 900px;
   width: 100%;
   margin: 0 auto;
}
.payment_header {
   height: 60px;
   width: 100%;
   display: inline-block;

   display: flex;
   align-items: center;
   justify-content: center;
}

.payment_header_main {
   margin-top: 20px;
}

.payment_header_title {
   font-size: 30px;
   color: var(--041643);
   line-height: 1;
   text-align: center;
}

.payment_product_wrap {
   display: flex;
   justify-content: space-between;
}

.payment_product_wrap.second {
   margin-top: 10px;
}

.payment_product_left,
.payment_product_right {
   width: 35%;
   display: flex;
   background-color: var(--FFFCFC);
   padding: 20px;
   box-sizing: border-box;
}

.payment_product_left {
   display: flex;
   flex-direction: column;
   width: 60%;
}

.product_name {
   font-size: 16px;
   font-weight: 500;
   line-height: 1;
}

.delivery_memo_wrap {
   margin-top: 20px;
}

.delivery_memo_title {
   line-height: 2;
}
